* {
    margin: 0;
    padding: 0;
    font-family: 'Slabo 27px', serif;
}

body {
    max-width: 100%;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.apresentacao {
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    background-image: url(../images/main-header.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    margin-bottom: .5em;
}

/* navbar */
.apresentacao nav {
    padding: 0 1em;
    transition: .5s;
    box-sizing: border-box;
}

.apresentacao nav:hover, .nav-link:hover {
    background-color: #0000005d;
}

.apresentacao nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}

.apresentacao nav div ul {
    list-style: none;
    display: flex;
}

.nav-link{
    text-decoration: none;
    margin-left: 1em;
    font-weight: 600;
    height: 100%;
    padding: 1em .3em;
    border-radius: 4px;
    transition: .3s;
    color: #fff;
}

.apresentacao h1 {
    font-size: 6em;
} 

.apresentacao p {
    font-size: 1.5em;
}

.veja-mais{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0000005d;
    font-size: .8em;
}

.historia{
    display: flex;
    padding: 2em 0;
    justify-content: space-between;
}

.historia div {
    max-width: 50%;
    padding: 1em;    
}

.historia img {
    display: block;
    width: 100%;
    height: auto;
}

.pessoal {
    text-align: center;
    background-color: #F6F4D2;
    padding: 2em;
    display: flex;
    box-sizing: border-box;
}

.apresentacao-pessoas {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1em;
    flex-wrap: wrap;
}

.apresentacao-pessoas img {
    width: 200px;
    border-radius: 50%;
    margin: 2em;
}

#mostrar-sidebar {
    display: none;
    padding: .1em;
    border-radius: 4px;
    color: #fff;
}

#mostrar-sidebar:hover {
    background-color: #0000005d;
}

footer {
    background: #153243;
    padding: 1em;
    color: #fff;
}

@media (max-width: 768px) {
    .historia img {
        display: none;
    }
    .historia div {
        max-width: 100%;
    }
    #mostrar-sidebar {
        display: inline;
    }

    .apresentacao nav div ul {
        display: none;
    }
}

.sidebar {
    position: absolute;
    z-index: 5;
    background-color: #000000b2;
    width: 340px;
    height: 100vh;
    padding: 3em;
    box-sizing: border-box;
    left: -340px;
    transition: .5s;
}

.sidebar p {
    margin-bottom: 1em;
    font-size: 3em;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin: 1em 0;
}

.sidebar .nav-link{
    margin-left: 0;
    padding: 1em 3em;
}


.sidebar-helper {
    position: absolute;
    z-index: 5;
    background-color: #ffffff56;
    width: calc(100% - 340px);
    height: 100vh;
    transition: .5s;
    right: 100%;
}